<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}
<div class="jumbotron">
    <div class="container">
        <h1>Aptitude & Logical Reasoning Tests</h1>
        <h6>Improve your problem-solving speed and accuracy with aptitude tests commonly asked in competitive exams and interviews. </h6><br>

          <h3>Highlights</h3>
        <ul>
            <li>Quantitative Aptitude</li>
            <li>Logical Reasoning</li>
            <li>Verbal Ability </li>
            <li>Time & Work, Profit & Loss</li>
             <li>Puzzles & Analytical Thinking </li>
        </ul>



       <div class="cta-section">
    <h2>Ready to Test Your Skills?</h2>
    <p>Start your Appitude test and evaluate your programming skills.</p>
    <a href="#" class="cta-button">Start Appitude Test</a>
</div>
    </div>
    </div>
</div>
   {% endblock %}