<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}
<div class="jumbotron">
    <div class="container">
        <h1>Welcome to Code Examiner</h1>
        <h6>A secure and user-friendly platform for practicing and preparing for technical and aptitude examinations.</h6> <br>
        <ul>
            <li> 🔐 Secure Login & Logout (Authentication & Authorization)</li>
            <li> 🧠 Multiple Exam Categories</li>
            <li>⏱️ Timed Assessments</li>
            <li>📊 Performance Tracking</li>

        </ul>
    </div>
</div>
   {% endblock %}