<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}
<div class="jumbotron">
    <div class="container">
        <h1>Java Programming Exames</h1>
        <h6> Test your knowledge of core and advanced Java concepts. This section includes carefully curated questions covering object-oriented programming, collections, exception handling, multithreading, and more.</h6><br>
        <h3>Highlights</h3>
        <ul>
            <li>Core Java Fundamentals</li>
            <li>OOP Concepts (Inheritance, Polymorphism, Abstraction) </li>
            <li>Collections Framework </li>
            <li>Exception Handling </li>
             <li>Real-world Coding Scenarios </li>
        </ul>
<div class="cta-section">
    <h2>Ready to Test Your Skills?</h2>
    <p>Start your Java test and evaluate your programming skills.</p>
    <a href="#" class="cta-button">Start Java Test</a>
</div>



    </div>
</div>
   {% endblock %}