<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}
<div class="jumbotron">
    <div class="container">
        <h1>Welcome to python Exams</h1>
        <h6> Practice Python with a wide range of questions designed for beginners to advanced learners. Strengthen your understanding of syntax, data structures, and problem-solving techniques.</h6><br>
          <h3>Highlights</h3>
        <ul>
            <li>Python Basics & Syntax</li>
            <li>Lists, Tuples, Dictionaries</li>
            <li>Functions & Modules </li>
            <li>File Handling</li>
             <li>Problem Solving & Logic Building </li>
        </ul>



   <div class="cta-section">
    <h2>Ready to Test Your Skills?</h2>
    <p>Start your Python test and evaluate your programming skills.</p>
    <a href="#" class="cta-button">Start Python Test</a>
</div>
    </div>
</div>
   {% endblock %}